[Unit]
Description=Run Layman NOVA PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 02:15:00 UTC
RandomizedDelaySec=15m
Persistent=true
Unit=layman-postgres-backup.service

[Install]
WantedBy=timers.target
